<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  
  <system.web>
    <sessionState timeout="10"></sessionState>
   
    <compilation debug="true" targetFramework="4.6.1" />
    <httpRuntime targetFramework="4.6.1" />
    <pages>
      <namespaces>
        <add namespace="System.Web.Optimization"/>
      </namespaces>
      <controls>
        <add assembly="Microsoft.AspNet.Web.Optimization.WebForms" namespace="Microsoft.AspNet.Web.Optimization.WebForms" tagPrefix="webopt" />
        
      </controls>
    </pages>
    <urlMappings enabled="true">
      <add mappedUrl="~/PresentationLayer/Admin/ManageUsers.aspx"
          url="~/ManageUsers"/>
      <add mappedUrl="~/PresentationLayer/Admin/AddProduct.aspx"
          url="~/AddProduct"/>
      <add mappedUrl="~/PresentationLayer/Admin/ManageOrders.aspx"
          url="~/ManageOrders"/>
      <add mappedUrl="~/PresentationLayer/Admin/ManageItems.aspx"
          url="~/ManageItems"/>
      <add mappedUrl="~/PresentationLayer/Admin/ManageProducts.aspx"
          url="~/ManageProducts"/>
      <add mappedUrl="~/PresentationLayer/Admin/ManagePostage.aspx"
          url="~/ManagePostage"/>
      <add mappedUrl="~/PresentationLayer/Admin/UpdatePostage.aspx"
          url="~/UpdatePostage"/>
      <add mappedUrl="~/PresentationLayer/Admin/UpdateProduct.aspx"
          url="~/UpdateProduct"/>
      <add mappedUrl="~/PresentationLayer/About.aspx"
          url="~/About"/>
      <add mappedUrl="~/PresentationLayer/Checkout.aspx"
          url="~/Checkout"/>
      <add mappedUrl="~/PresentationLayer/Checkout_Confirm.aspx"
          url="~/Checkout_Confirm"/>
      <add mappedUrl="~/PresentationLayer/Checkout_Info.aspx"
          url="~/Checkout_Info"/>
      <add mappedUrl="~/PresentationLayer/Contact.aspx"
          url="~/Contact"/>
      <add mappedUrl="~/PresentationLayer/EditProfile.aspx"
          url="~/EditProfile"/>
      <add mappedUrl="~/PresentationLayer/Orders.aspx"
          url="~/Orders"/>
      <add mappedUrl="~/PresentationLayer/EditProfile.aspx"
          url="~/EditProfile"/>
      <add mappedUrl="~/PresentationLayer/Login_Register.aspx"
          url="~/Login_Register"/>
      <add mappedUrl="~/PresentationLayer/Main.aspx"
          url="~/Main"/>
      <add mappedUrl="~/PresentationLayer/Payment.aspx"
          url="~/Payment"/>
      <add mappedUrl="~/PresentationLayer/Products.aspx"
          url="~/Products"/>
      <add mappedUrl="~/PresentationLayer/PurchaseProduct.aspx"
          url="~/PurchaseProduct"/>
      <add mappedUrl="~/PresentationLayer/Registration.aspx"
          url="~/Registration"/>
      <add mappedUrl="~/PresentationLayer/SignOut.aspx"
          url="~/SignOut"/>
      <add mappedUrl="~/PresentationLayer/ViewProduct.aspx"
            url="~/ViewProduct.aspx"/>
      <add mappedUrl="~/PresentationLayer/ForgotPassword.aspx"
            url="~/ForgotPassword"/>
      <add mappedUrl="~/PresentationLayer/ErrorPage.aspx"
          url="~/ErrorPage"/>
    </urlMappings>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1"> 
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.1" newVersion="4.0.2.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>      
    </assemblyBinding>
  </runtime>
  <system.webServer>
    <!-- Allow Errors to be sent to an error page -->
   <httpErrors errorMode="Custom">
     <clear/>
      <error statusCode="404" path="/ErrorPage?handler=404" responseMode="ExecuteURL"/>
      <error statusCode="503" path="/ErrorPage?handler=503" responseMode="ExecuteURL"/>
    </httpErrors>
    
    <modules>
      <remove name="TelemetryCorrelationHttpModule" />
      <add name="TelemetryCorrelationHttpModule" type="Microsoft.AspNet.TelemetryCorrelation.TelemetryCorrelationHttpModule, Microsoft.AspNet.TelemetryCorrelation" preCondition="integratedMode,managedHandler" />
    </modules>
  </system.webServer>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <!-- Connection String for connecting to the database -->
  <connectionStrings>
    <add name="DatabaseConnection" connectionString="Data Source=LAPTOP-O05N7ITE;Initial Catalog=INFT3050A1;Integrated Security=True;uid=INFT3050;password=password;" providerName="System.Data.SqlClient"  />
  </connectionStrings>
  <!-- Mail settings -->
  <system.net>
    <mailSettings>
      <smtp from="bobblehead276@gmail.com">
        <network host="smtp.gmail.com" port="587" userName="bobblehead276@gmail.com" password="bhpassword"/>
      </smtp>
    </mailSettings>
  </system.net>
</configuration>