<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.6.1" />
    <httpRuntime targetFramework="4.6.1" />
    <pages>
      <namespaces>
        <add namespace="System.Web.Optimization" />
      </namespaces>
      <controls>
        <add assembly="Microsoft.AspNet.Web.Optimization.WebForms" namespace="Microsoft.AspNet.Web.Optimization.WebForms" tagPrefix="webopt" />
        
      </controls>
    </pages>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1"> 
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.1" newVersion="4.0.2.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>      
    </assemblyBinding>
  </runtime>
  <system.webServer>
    <modules>
      <remove name="TelemetryCorrelationHttpModule" />
      <add name="TelemetryCorrelationHttpModule" type="Microsoft.AspNet.TelemetryCorrelation.TelemetryCorrelationHttpModule, Microsoft.AspNet.TelemetryCorrelation" preCondition="integratedMode,managedHandler" />
    </modules>
  </system.webServer>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <system.web>
    <urlMappings enabled="true">
      <add url="~/PresentationLayer/Admin/ManageUsers.aspx"
          mappedUrl="~/ManageUsers.aspx"/>
      <add url="~/PresentationLayer/Admin/ManageOrders.aspx"
          mappedUrl="~/ManageOrders.aspx"/>
      <add url="~/PresentationLayer/Admin/ManageItems.aspx"
          mappedUrl="~/ManageItems.aspx"/>
      <add url="~/PresentationLayer/Admin/ManagePostage.aspx"
          mappedUrl="~/ManagePostage.aspx"/>
      <add url="~/PresentationLayer/Admin/UpdatePostage.aspx"
          mappedUrl="~/UpdatePostage.aspx"/>
      <add url="~/PresentationLayer/Admin/UpdateProduct.aspx"
          mappedUrl="~/UpdateProduct.aspx"/>
      <add url="~/PresentationLayer/About.aspx"
          mappedUrl="~/About.aspx"/>
      <add url="~/PresentationLayer/Checkout.aspx"
          mappedUrl="~/Checkout.aspx"/>
      <add url="~/PresentationLayer/Checkout_Confirm.aspx"
          mappedUrl="~/Checkout_Confirm.aspx"/>
      <add url="~/PresentationLayer/Checkout_Info.aspx"
          mappedUrl="~/Checkout_Info.aspx"/>
      <add url="~/PresentationLayer/Contact.aspx"
          mappedUrl="~/Contact.aspx"/>
      <add url="~/PresentationLayer/EditProfile.aspx"
          mappedUrl="~/EditProfile.aspx"/>
      <add url="~/PresentationLayer/Orders.aspx"
          mappedUrl="~/Orders.aspx"/>
      <add url="~/PresentationLayer/EditProfile.aspx"
          mappedUrl="~/EditProfile.aspx"/>
      <add url="~/PresentationLayer/Login_Register.aspx"
          mappedUrl="~/Login_Register.aspx"/>
      <add url="~/PresentationLayer/Main.aspx"
          mappedUrl="~/Main.aspx"/>
      <add url="~/PresentationLayer/Payment.aspx"
          mappedUrl="~/Payment.aspx"/>
      <add url="~/PresentationLayer/Products.aspx"
          mappedUrl="~/Products.aspx"/>
      <add url="~/PresentationLayer/PurchaseProduct.aspx"
          mappedUrl="~/PurchaseProduct.aspx"/>
      <add url="~/PresentationLayer/Registration.aspx"
          mappedUrl="~/Registration.aspx"/>
      <add url="~/PresentationLayer/SignOut.aspx"
          mappedUrl="~/SignOut.aspx"/>
      <add url="~/PresentationLayer/ViewProduct.aspx"
            mappedUrl="~/ViewProduct.aspx"/>
    </urlMappings>
  </system.web>
</configuration>